In [110]:
import pandas as pd 

attr = pd.read_csv("../datasets/attribute_set/in_shop_attr/list_eval_partition.txt", delim_whitespace=True, header=None, names=["path", "id", "group"]) 
attr.head()

                                                path           id  group
0       img/WOMEN/Dresses/id_00000002/02_1_front.jpg  id_00000002  train
1        img/WOMEN/Dresses/id_00000002/02_2_side.jpg  id_00000002  train
2        img/WOMEN/Dresses/id_00000002/02_4_full.jpg  id_00000002  train
3  img/WOMEN/Dresses/id_00000002/02_7_additional.jpg  id_00000002  train
4        img/WOMEN/Skirts/id_00000003/02_1_front.jpg  id_00000003  train

In [111]:
attr.head()

                                                path           id  group
0       img/WOMEN/Dresses/id_00000002/02_1_front.jpg  id_00000002  train
1        img/WOMEN/Dresses/id_00000002/02_2_side.jpg  id_00000002  train
2        img/WOMEN/Dresses/id_00000002/02_4_full.jpg  id_00000002  train
3  img/WOMEN/Dresses/id_00000002/02_7_additional.jpg  id_00000002  train
4        img/WOMEN/Skirts/id_00000003/02_1_front.jpg  id_00000003  train

In [112]:
base_path = "../datasets/big_ds/img-in_shop/img/" 
base_path

'../datasets/big_ds/img-in_shop/img/'

In [113]:
attr.path = attr.path.apply(lambda x: base_path + x) 
attr.tail()

                                                    path           id    group
52707  ../datasets/big_ds/img-in_shop/img/img/WOMEN/J...  id_00007982  gallery
52708  ../datasets/big_ds/img-in_shop/img/img/WOMEN/J...  id_00007982    query
52709  ../datasets/big_ds/img-in_shop/img/img/WOMEN/J...  id_00007982  gallery
52710  ../datasets/big_ds/img-in_shop/img/img/WOMEN/J...  id_00007982    query
52711  ../datasets/big_ds/img-in_shop/img/img/WOMEN/J...  id_00007982    query

In [114]:
col_names = pd.read_fwf("../datasets/attribute_set/in_shop_attr/list_attr_cloth.txt", delim_whitespace=True).to_numpy().squeeze() 
i = 0
for col in col_names:
    col_names[i] = str(i) + "_" + col 
    i = i + 1 
col_names[:5], len(col_names)

(array(['0_lightweight', '1_polyester', '2_woven', '3_knit', '4_cotton'],
       dtype=object),
 463)

In [115]:
len(set(col_names))

463

In [116]:
labels = pd.read_csv("../datasets/attribute_set/in_shop_attr/list_attr_items.txt", header=None, delim_whitespace=True, names=["id"] + list(col_names))
labels.head()

,id,0_lightweight,1_polyester,2_woven,3_knit,4_cotton,5_unlined,6_rayon,7_pandex,8_top,...,453_buttoned keyh,454_concealed bac,455_invisible bac,456_concealed sid,457_front slant p,458_front patch p,459_adjustable ca,460_adjustable sp,461_back patch po,462_invisible sid
0,id_00000001,1,1,1,-1,-1,1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,id_00000002,1,-1,1,-1,-1,1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,id_00000003,1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,id_00000004,1,-1,1,-1,-1,1,1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,id_00000005,1,1,1,-1,1,1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [117]:
items = [] 
for col in labels.columns[1:]:
    for item in labels[col].value_counts().index.values: 
        items.append(item) 

set(items)

{-1, 1}

In [118]:
for col in range(1, len(labels.columns)):
    labels.iloc[:, col] = labels.iloc[:, col].astype('category').cat.codes.values 
    if col % 100 == 0: 
        print(col)

100
200
300
400

In [119]:
labels.head()

,id,0_lightweight,1_polyester,2_woven,3_knit,4_cotton,5_unlined,6_rayon,7_pandex,8_top,...,453_buttoned keyh,454_concealed bac,455_invisible bac,456_concealed sid,457_front slant p,458_front patch p,459_adjustable ca,460_adjustable sp,461_back patch po,462_invisible sid
0,id_00000001,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,id_00000002,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_00000003,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,id_00000004,1,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,id_00000005,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
items_one_label = [] 
for col in labels.columns[1:]:
    if len(labels[col].value_counts().index.values) == 1:
        print(col, end=" ")
        items_one_label.append(col)   

len(items_one_label)

40_black-cream 64_black-white 163_heather grey 201_burgundy 239_olive 250_navy 267_cream-navy 281_blush 302_blue-cream 318_navy-white 319_taupe 328_denim washed 341_black-heather 342_black-red 343_blue-white 362_round necklin 363_long sleeve 364_fully lined 365_hort sleeve 366_elasticized w 367_front pocket 368_back zipper 369_partially lin 370_zip fly 371_patch pocket 372_ribbed trim 373_drawstring wa 374_crop top 375_crew neck 376_basic collar 377_3/4 sleeve 378_keyhole back 379_open front 380_faux leather 381_buttoned keyh 382_ide zipper 383_buttoned fron 384_chest patch 385_elasticized d 386_exposed back 387_chest pocket 388_muscle tee 389_relaxed fit 390_kinny jean 391_floral lace 392_maxi dre 393_coop necklin 394_adjustable st 395_french terry 396_welt pocket 397_lant pocket 398_woven fabric 399_pencil skirt 400_paghetti str 401_lub knit 402_ribbed knit 403_leeveless to 404_cami strap 405_knit fabricat 406_hort-sleeved 407_crew neckline 408_longline silh 409_button-down f 410_ide slit 411_leeveless dr 412_tretch knit 413_medium weight 414_heathered kni 415_marled knit 416_back pocket 417_boyfriend jea 418_denim short 419_buttoned cuff 420_front slant 421_raglan sleeve 422_zippered fron 423_pretty much 424_cutout back 425_front patch 426_woven fabrica 427_kater skirt 428_night out 429_adjustable ca 430_contrast trim 431_peasant top 432_triped patte 433_adjustable sp 434_dolman sleeve 435_moto jacket 436_back patch 437_tand out 438_boxy fit 439_classic detai 440_knit fabric 441_cap sleeve 442_flap pocket 443_boxy silhouet 444_kangaroo pock 445_vented side 446_polka dot 447_lim fit 448_high point sh 449_lanted front 450_elasticized d 451_chest patch p 452_exposed back  453_buttoned keyh 454_concealed bac 455_invisible bac 456_concealed sid 457_front slant p 458_front patch p 459_adjustable ca 460_adjustable sp 461_back patch po 462_invisible sid

116

In [121]:
labels.shape

(8081, 464)

In [122]:
labels.drop(items_one_label, axis=1, inplace=True)

In [123]:
labels.head()

,id,0_lightweight,1_polyester,2_woven,3_knit,4_cotton,5_unlined,6_rayon,7_pandex,8_top,...,352_vest,353_accessorie,354_brunch,355_girly,356_open-knit,357_polka,358_gauze,359_grey,360_outhwestern,361_cutout
0,id_00000001,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,id_00000002,1,0,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_00000003,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,id_00000004,1,0,1,0,0,1,1,0,1,...,0,0,0,0,0,0,1,0,0,0
4,id_00000005,1,1,1,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [124]:
labels.shape

(8081, 348)

In [125]:
data = pd.merge(attr, labels, how="inner", on="id")
data.head()

,path,id,group,0_lightweight,1_polyester,2_woven,3_knit,4_cotton,5_unlined,6_rayon,...,352_vest,353_accessorie,354_brunch,355_girly,356_open-knit,357_polka,358_gauze,359_grey,360_outhwestern,361_cutout
0,../datasets/big_ds/img-in_shop/img/img/WOMEN/D...,id_00000002,train,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,../datasets/big_ds/img-in_shop/img/img/WOMEN/D...,id_00000002,train,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,../datasets/big_ds/img-in_shop/img/img/WOMEN/D...,id_00000002,train,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,../datasets/big_ds/img-in_shop/img/img/WOMEN/D...,id_00000002,train,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,../datasets/big_ds/img-in_shop/img/img/WOMEN/S...,id_00000003,train,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [126]:
data.to_csv("../datasets/attribute_set/in_shop_attr/in_shop_data_all.csv")